@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: myFont2;
  src: url('./Assets/fonts/Poppins-Regular.ttf');
}

.text-lg {
  font-size: 1.1rem/* 18px */;
  line-height: 1.75rem/* 28px */;
}

a:hover{
  /* border: 2px rgba(88, 88, 88, 0.74) solid; */
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: myFont2, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125rem/* 18px */;
  line-height: 1.75rem/* 28px */;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
